* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url("../img/fondologin.png") no-repeat center center fixed;
  background-size: cover;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.493); /* capa blanca transparente */
  backdrop-filter: blur(4px); /* desenfoque elegante */
  z-index: -1; /* que quede detrás del contenido */
}


.login-container {
  width: 100%;
  max-width: 380px;
  padding: 2rem;
}

.login-box { /* TARJETA DEL LOGIN*/
  background: #fff; /* color de la tarjeta */
  padding: 2rem; /* largo de la tarjeta */
  border-radius: 45px; /* borde de la tarjeta */
  box-shadow: 0 4px 15px rgba(0,0,0,0.08); /* sombra de la tarjeta */ 
  text-align: center;
}

.login-box h1 {  /* TEXTO INICAR SESIÓN*/
  font-weight: 400;
  font-size: 1.8rem;
  color: #333; 
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9; /* color textboxs correo y contrañeña */
  transition: border 0.3s;
}

form input:focus {
  outline: none;
  border-color: #000;
}

button { /* BOTON INGRESAR */ 
  width: 100%;
  padding: 0.8rem;
  border: none;
  background-color: #000; /* color del boton */
  color: white; /* color de letra */
  border-radius: 10px; /* borde del boton  */
  cursor: pointer;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.85;
}

.register-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #555;
}

.register-text a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border 0.3s;
}

.register-text a:hover {
  border-color: #000;
}

.login-message {
    margin-top: 12px;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    display: none; /* oculto por defecto */
}

.login-message.error {
    background-color: #ffecec;
    color: #c0392b;
    display: block;
}

.login-message.success {
    background-color: #eafaf1;
    color: #27ae60;
    display: block;
}